@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #e6e6e6;
  /* color: #00000022; */
}

.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px){
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 2rem;
  position: relative;
  text-align: center;
  /* color: #213547; */
}

.book img{
  width: 100%;
  object-fit: cover;
  padding-top: 1rem;
  border-radius: 0.4rem 0.4rem 0 0;

}
.book h2 {
  margin-top: 1rem;
  font-size: 1.5rem;

}
.book h4 {
  color: #8daaec;
  font-size: 0.75;
  letter-spacing: 2px;
  margin-top: 0.5rem;
}

button {
  background-color: #f1ff74;
  padding: 10px;
  /* width: 100%; */
  margin: 1rem;
  border-radius: 0.4rem;
}

.number {
  padding: 0.2rem;
  border-radius: 0.7rem 0 ;
  background-color: rgb(243, 116, 116);
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
}
h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
  font-weight: 900;
  line-height: 1rem;
}